li {
    cursor: pointer;
}

.crossed {
    text-decoration: line-through;
}

.div1 {
    background-color: brown;
    width: 100px;
    height: 100px;
}

.div2 {
    background-color: chartreuse;
    width: 70px;
    height: 70px;
}

.div3 {
    background-color: cornflowerblue;
    width: 30px;
    height: 30px;
}